<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<select id="seq" resultType="Integer">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.sp.customer.notice.Notice">
       INSERT INTO notice(num, userId, subject, content, notice)
               VALUES
               (#{num}, #{userId}, #{subject},
               #{content}, #{notice})
    </insert>

	<sql id="where-list">
		<if test="condition=='all' ">
			(INSTR(subject, #{keyword}) &gt; 0
		          OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0)
		</if>
		<if test="condition=='subject' ">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content' ">
		    DBMS_LOB.INSTR( content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='userName' ">
			userName=#{keyword}
		</if>
		<if test="condition=='created' ">
			(TO_CHAR(created, 'YYYY-MM-DD') = #{keyword}
			  OR TO_CHAR(created, 'YYYYMMDD') = #{keyword})
		</if>
	</sql>
	
	<!-- 공지 글  리스트 -->
	<select id="listNoticeTop" resultType="com.sp.customer.notice.Notice">
          SELECT n.num, notice, n.userId, userName, subject,
                  hitCount, 
                  NVL(fileCount, 0) fileCount,
                  TO_CHAR(created, 'YYYY-MM-DD') created
          FROM notice n
          LEFT OUTER JOIN (
          	SELECT num, COUNT(*) fileCount FROM noticeFile
			GROUP BY num
          ) f ON n.num=f.num
          JOIN member1 m ON n.userId=m.userId 
          WHERE notice =  1
          ORDER BY num DESC
	</select>
	
	<!--  데이터개수  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN member1 m ON n.userId=m.userId
		<where>
			<if test="keyword != null and keyword!=''  ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listNotice" parameterType="map" 
	       resultType="com.sp.customer.notice.Notice">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT n.num, notice, n.userId, userName, subject, hitCount,
	                    NVL(fileCount, 0) fileCount, created
			        FROM notice n
			        LEFT OUTER JOIN (
			            SELECT num, COUNT(*) fileCount FROM noticeFile
			            GROUP BY num
			        ) f ON n.num=f.num
	                JOIN member1 m ON n.userId=m.userId
                    <where>
                         <if test="keyword != null and keyword != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
	                ORDER BY num DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	 </select>

    <!-- 글보기 -->
    <select id="readNotice" resultType="com.sp.customer.notice.Notice" 
            parameterType="Integer">
        SELECT num, n.userId, userName, subject, content, created, hitCount, notice
           FROM notice n
           JOIN member1 m ON n.userId=m.userId 
           WHERE num = #{num}
    </select>

    <!-- 조회수 증가 -->
    <update id="updateHitCount" parameterType="Integer">
        UPDATE notice SET hitCount=hitCount+1 WHERE num = #{num}
    </update>

    <!-- 이전글 -->
    <select id="preReadNotice" resultType="com.sp.customer.notice.Notice" 
            parameterType="map">
        SELECT tb.* FROM (
            SELECT num, subject
               FROM notice n
               JOIN member1 m ON n.userId=m.userId
                <where>
                    <if test="keyword != null and keyword != '' ">
                        <include refid="where-list"/>
                    </if>
                    AND (num &gt; #{num})
                </where>
                ORDER BY num ASC
            ) tb WHERE ROWNUM=1
    </select>

    <!-- 다음글 -->
    <select id="nextReadNotice" resultType="com.sp.customer.notice.Notice" 
            parameterType="map">
        SELECT tb.* FROM (
            SELECT num, subject
              FROM notice n
              JOIN member1 m ON n.userId=m.userId
                    <where>
                         <if test="keyword != null and keyword != '' ">
                              <include refid="where-list"/>
                         </if>
                         AND (num &lt; #{num})
                    </where>
                ORDER BY num DESC
            ) tb WHERE ROWNUM=1
    </select>
    
    <!-- 수정 -->
    <update id="updateNotice" parameterType="com.sp.customer.notice.Notice">
          UPDATE notice SET subject=#{subject},
               content=#{content}, notice=#{notice}
               WHERE num=#{num}
    </update>
    
    <!-- 삭제 -->
	<delete id="deleteNotice" parameterType="Integer">
		DELETE FROM notice WHERE num=#{num}
	</delete>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.sp.customer.notice.Notice">
	  INSERT INTO noticeFile(fileNum, num, saveFilename, 
	    originalFilename, fileSize) VALUES
	       (noticeFile_seq.NEXTVAL, #{num}, #{saveFilename},
	           #{originalFilename}, #{fileSize})
	</insert>
	
	<select id="listFile" parameterType="Integer"
	              resultType="com.sp.customer.notice.Notice">
	SELECT  fileNum, num, saveFilename, originalFilename, fileSize
	    FROM noticeFile
	    WHERE  num=#{num}    
	</select>
	
	<select id="readFile" parameterType="Integer"
	              resultType="com.sp.customer.notice.Notice">
	SELECT  fileNum, num, saveFilename, originalFilename, fileSize
	    FROM noticeFile
	    WHERE fileNum=#{fileNum}      
	</select>
	
	<delete id="deleteFile" parameterType="map">
	    DELETE FROM noticeFile WHERE ${field} = #{num}
	</delete>
</mapper>