<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.confirm">
<sql id="where-list">
	<if test="condition=='hotelName'">
		INSTR(hotelName, #{keyword}) &gt; 0
	</if>
	<if test="condition=='date'">
		TO_CHAR(reservated, 'YYYY-MM-DD') = #{keyword}
		OR TO_CHAR(reservated, 'YYYYMMDD') = #{keyword}
	</if>
	<if test="condition=='userName'">
		userName=#{userName}
	</if>
</sql>

<select id="dataCount" parameterType="map" resultType="Integer">
	select NVL(COUNT(*),0) from memberreser mr
	JOIN reservation r ON mr.reservationNum = r.reservationNum
	JOIN hotel h ON r.hotelId=h.hotelId
	<where>
		<if test="keyword != null and keyword != ''">
			<include refid="where-list"/>
		</if>
		AND mr.userId=#{userId}
	</where>
</select>

<select id="listConfirm" parameterType="map" resultType="com.sp.user.confirm.Confirm">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT mr.userId, mr.reservationNum, hotelName, userName, userTel, userEmail,
			     	TO_CHAR(reservated, 'YYYY-MM-DD') reservated,
			     	TO_CHAR(checkinDay, 'YYYY-MM-DD') checkinDay,
			     	TO_CHAR(checkoutDay, 'YYYY-MM-DD') checkoutDay  
			        FROM memberreser mr
			        JOIN reservation r ON mr.reservationNum = r.reservationNum
			        JOIN reserdetail rd ON mr.reservationNum = rd.reservationNum
					JOIN hotel h ON r.hotelId=h.hotelId
                    <where>
						<if test="keyword != null and keyword != ''">
							<include refid="where-list"/>
						</if>
						AND mr.userId=#{userId}
					</where>
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
</select>

<select id="readConfirm" parameterType="Integer" resultType="com.sp.user.confirm.Confirm">
	SELECT mr.reservationNum, mr.userId userName, userTel, userEmail, peopleCount, mainPhoto,
		reservated, TO_CHAR(checkinDay, 'YYYY-MM-DD') checkinDay,
	    TO_CHAR(checkoutDay, 'YYYY-MM-DD') checkoutDay,
		hotelName, type, hotelTel, addr1, addr2, totPrice     	 
		FROM memberreser mr
        JOIN reservation r ON mr.reservationNum = r.reservationNum
        JOIN reserdetail rd ON mr.reservationNum = rd.reservationNum
		JOIN hotel h ON r.hotelId=h.hotelId
        JOIN hoteldetail hd ON h.hotelId=hd.hotelId
		JOIN hoteltype ht ON h.typeNum=ht.typeNum
		WHERE mr.reservationNum=#{reservationNum}
</select>

<select id="resDetailNum" parameterType="Integer" resultType="Integer">
	SELECT resDetailNum FROM reserdetail WHERE reservationNum=#{reservationNum}
</select>
<delete id="deleteReserdetail" parameterType="Integer">
	DELETE reserdetail WHERE resDetailNum=#{resDetailNum}
</delete>
<delete id="deletePay" parameterType="Integer">
	DELETE pay WHERE reservationNum=#{reservationNum}
</delete>
<delete id="deleteReseropt" parameterType="Integer">
	DELETE reseropt WHERE reservationNum=#{reservationNum}
</delete>
<delete id="deleteMemberreser" parameterType="Integer">
	DELETE memberreser WHERE reservationNum=#{reservationNum}
</delete>
<delete id="deleteReservation" parameterType="Integer">
	DELETE reservation WHERE reservationNum=#{reservationNum}
</delete>


<select id="noMemberDataCount" parameterType="map" resultType="Integer">
	select NVL(COUNT(*),0) from reservation
	WHERE userName=#{userName}
	AND userEmail=#{userEmail}
	AND userTel=#{userTel} 
</select>

<select id="nomemberList" parameterType="map" resultType="com.sp.user.confirm.Confirm">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT r.reservationNum, hotelName, userName, userTel, userEmail,
			     	TO_CHAR(reservated, 'YYYY-MM-DD') reservated,
			     	TO_CHAR(checkinDay, 'YYYY-MM-DD') checkinDay,
			     	TO_CHAR(checkoutDay, 'YYYY-MM-DD') checkoutDay  
			        FROM reservation r
			        JOIN reserdetail rd ON r.reservationNum = rd.reservationNum
					JOIN hotel h ON r.hotelId=h.hotelId
					WHERE userName=#{userName}
					AND userEmail=#{userEmail}
					AND userTel=#{userTel} 
					
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
</select>

<select id="nomemberConfirm" parameterType="Integer" resultType="com.sp.user.confirm.Confirm">
	SELECT r.reservationNum, userName, userTel, userEmail, peopleCount, mainPhoto,
		reservated, TO_CHAR(checkinDay, 'YYYY-MM-DD') checkinDay,
	    TO_CHAR(checkoutDay, 'YYYY-MM-DD') checkoutDay,
		hotelName, type, hotelTel, addr1, addr2, totPrice     	 
		FROM reservation r
        JOIN reserdetail rd ON r.reservationNum = rd.reservationNum
		JOIN hotel h ON r.hotelId=h.hotelId
        JOIN hoteldetail hd ON h.hotelId=hd.hotelId
		JOIN hoteltype ht ON h.typeNum=ht.typeNum
		WHERE r.reservationNum=#{reservationNum}
</select>

</mapper>