<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.wishlist">
	<select id="wishlistList" parameterType="map" resultType="com.sp.user.wishlist.WishList">
		SELECT * FROM (
      	  SELECT ROWNUM rnum, tb.* FROM (
           	  SELECT hotel.hotelId,hotel.hotelName, member.userId, addr1, addr2, detail, mainphoto
                FROM wishlist JOIN member ON wishlist.userid = member.userid 
                JOIN hoteldetail ON wishlist.hotelId=hoteldetail.hotelId
                JOIN hotel ON hotel.hotelId=wishlist.hotelId
                WHERE member.userId=#{userId}
<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
]]>
	</select>
	
	<select id="wishlistCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0) wishlistCount FROM wishlist WHERE userId=#{userId}
	</select>
	
	<delete id="wishlistDelete" parameterType="map">
		DELETE wishlist WHERE hotelId=#{hotelId} AND userId=#{userId}
	</delete>
	
	<insert id="wishlistInsert" parameterType="map">
		INSERT INTO wishlist(hotelId, userId) VALUES (#{hotelId}, #{userId})
	</insert>
	
	<select id="checkuserIdlist" parameterType="String" resultType="com.sp.user.hotel.Hotel">
		SELECT userId, HotelId FROM wishlist WHERE userId=#{userId}
	</select>
</mapper>